<h1>Stupid Coaching</h1>

<div class="row justify-content-justify mt-4">
  <div class="col-auto">
    <form action="<%= answer_path %>" method="get" data-turbo="false" class="d-flex">
      <input type="text" name="question" class="form-control me-2" placeholder="Ask you coach anything!">
      <button type="submit" class="btn btn-primary">Ask!</button>
    </form>
  </div>
</div>
